<div class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar__content__form">
      <div class="form-check mt-3 mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label
          class="form-check-label"
          for="flexCheckDefault"
          style="color: #334680"
        >
          Full Time
        </label>
      </div>
      <div>
        <h2 style="color: #b9bdcf; font-size: 15px">LOCATION</h2>
        <div
          class="input-group mb-3"
          style="background: white; border-radius: 4px"
        >
          <span
            class="input-group-text"
            style="background-color: transparent; border: none"
            id="basic-addon1"
            >@</span
          >
          <input
            type="text"
            class="form-control"
            placeholder="City, state, zip code or country"
            style="border: none; border-radius: 4px"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label
          class="form-check-label"
          for="flexRadioDefault1"
          style="color: #334680; font-weight: 600"
        >
          London
        </label>
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label
          class="form-check-label"
          for="flexRadioDefault2"
          style="color: #334680; font-weight: 600"
        >
          Amsterdam
        </label>
      </div>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          checked
        />
        <label
          class="form-check-label"
          for="flexRadioDefault3"
          style="color: #334680; font-weight: 600"
        >
          New York
        </label>
      </div>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault4"
          checked
        />
        <label
          class="form-check-label"
          for="flexRadioDefault4"
          style="color: #334680; font-weight: 600"
        >
          Berlin
        </label>
      </div>
    </div>
  </div>
</div>
