<div class="search">
  <div class="search__content">
    <div class="search__content__keyword">
      <form
        class="row g-12"
        style="
          display: flex;
          width: 700px;
          background: white;
          align-items: center;
          justify-content: center;
          padding: 10px 0;
        "
      >
        <div class="col-1" style="display: flex">
          <span class="material-icons"> delete_outline </span>
        </div>

        <div class="col-9">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input
            type="password"
            class="form-control"
            style="border: none"
            id="inputPassword2"
            placeholder="Title, companies, expertise or benefits"
          />
        </div>

        <div class="col-2" style="height: 38px">
          <button
            type="submit"
            class="btn btn-primary mb-3"
            style="width: 100%"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
